body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    margin-left: 10em;
    margin-right: 10%;
}

ul {
    list-style: square;
    padding-left: 1.3em;
}

h1 {
    font-size: 200%;
}

h2 {
    width: 80px;
    
    font-weight: bold;
    font-size: 95%;
    float: left;
    text-align: right;
    text-transform: lowercase;
    margin-top: 0px;
	margin-left: -90px;    
}

h3 {
    font-size: 95%;
}
