body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    margin-left: 10em;
    margin-right: 10%;
}
ul {
    list-style: square outside;
    padding-left: 1.3em;
    margin: 0;
    margin-bottom: 12px;
	border-bottom: 1px;
    border: 1px gray dotted;
}

h1 {
    font-weight: bold;
    font-size: 200%;
}

.copyright {
    font-size: 70%;
    text-align: right;
    text-transform: lowercase;
    color: gray;
}
.address {
    font-size: 80%;
    margin-top: -1em;
    margin-bottom: 12px;
    white-space: nowrap;
}
.right {
    float: right;
    text-align: right;
}

h2 {
    width: 80px;
    
    font-weight: bold;
    font-size: 85%;
    float: left;
    text-align: right;
    text-transform: lowercase;
    
    padding-right: 10px;
    margin-top: 0px;
    margin-right: 0px;
	margin-left: -90px;
    
    border: 1px red dashed;
}

h3 {
    border: 1px red dashed;
    font-size: 85%;
}

.position {
    margin-bottom: 12px;
    text-align:justify;
}
p {
    margin-bottom: 4px;
    text-align:justify;
    border: 1px gray dotted;
}

.title {
    font-weight: bold;
    display: inline;
}
.dates {
    font-size: 100%;
    display: inline;
}
.location {
    font-size: 100%;
    display: inline;
}
.company { display: inline; }
.dates:before { content: " / "; }
.location:before  { content: " / "; }
.company:before  { content: " / "; }